<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>

<listener class-name="com.training.listerners.TestListener"></listener>

</listeners>

 <test  name="Annotations">
    <classes>
      <class name="com.training.tests.LoginTest"/>
      <class name="com.training.tests.HomeTest"/>
      <class name="com.training.tests.AccountTest"/>
      <class name="com.training.tests.OpportunityTest"/>
      <class name="com.training.tests.LeadTest"/>
      <class name="com.training.tests.ContactTest"/>
     <class name="com.training.tests.RandomScenarioTest"/>

     
     
     </classes>

  </test> <!-- Test -->
</suite> <!-- Suite -->
